# Created by .ignore support plugin (hsz.mobi)
.idea
*iml
.dpp.db
.data.db
.cache
bkp/
*.pyc
*.egg-info
/.tox
.code/
.github*/
celerybeat-schedule
schedule.db
celerybeat.pid
dump.rdb
ghostdriver.log
temp
/.env
.vscode
geckodriver.log
docker-compose.override.yaml
dpp-runners.yaml
