pyquery
demjson
requests
selenium
Scrapy==1.3.3

# code depends on the following datapackage-pipelines pull requests:
# - Add support for streaming non tabular plain text files #35
# - add support for using the fixture tests from other libraries #36
# both of them are merged to OriHoch master branch
# it should be removed once the pull requests are merged to master
https://github.com/OriHoch/datapackage-pipelines/archive/master.zip
